.matsedel {
    border: solid black;
}
header {
    color: rgb(0, 0, 0);
}
body {
    color: rgb(0, 0, 0);
    background-color:rgba(181, 215, 106, 0.767)
}

.matsedel {
    height: auto;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%
}
.mat-tis {
    border: solid;
    text-align:center
}
.mat-mån {
    border: solid;
    
    text-align: center;
}
.mat-ons {
    border: solid;
    text-align: center;
}
.mat-tor {
    border: solid;
    text-align: center;
}
.lunch {
    border: solid;
    font-size: 22px
}
.mat-fre {
    border: solid;
    text-align: center;
}
.vecka {
    border: solid;
    font-size: 22px;
    border-radius: 7px;
}
.betyg {
    border: solid;
    font-size: 22px;
    border-radius: 7px;
}
body{
    text-align: center;
}

.matsedel {
    border-radius: 7px;
    background-color: rgba(51, 153, 255, 0.408)
}
.mån, .tis, .ons, .tor, .fre {
    border: solid;
    border-radius: 5px
}
.bentley {
    max-width: 50%;
    height: auto; 
    margin-top: 1cm;
    
}
header {
    border: solid; 
    margin-bottom: 20px;
}
