.matsedel {
    border: solid red;
}
header {
    color: rgb(0, 0, 0);
}
body {
    color: rgb(255, 0, 0);
}

.matsedel {
    height: auto;
    width: 100%;
}
.mat-tis {
    border: solid;
    text-align:center
}
.mat-mån {
    border: solid;
    
    text-align: center;
}
.mat-ons {
    border: solid;
    text-align: center;
}
.mat-tor {
    border: solid;
    text-align: center;
}
.lunch {
    border: solid;
    font-size: 22px
}
.mat-fre {
    border: solid;
    text-align: center;
}
.vecka {
    border: solid;
    font-size: 22px
}
.betyg {
    border: solid;
    font-size: 22px;
}